<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Use the definition of the Laplace transform (not a formula)
      to verify the following.
    </p>
    <me><%= transform %></me>
  </statement>
</exercise>
