<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>
      Use a table of Laplace transformations to find the following.
    </p>
    <me>L\left\{<%= pretransform %>\right\}</me>
    <p>
      Then verify this result by using the integral definition of
      a Laplace transform. (You may use a table of integrals.)
    </p>
  </statement>
  <answer>
    <me><%=transform %></me>
  </answer>
</exercise>
