<exercise>
  <title><%= _title %> (ver. <%= _seed %>)</title>
  <statement>
    <p>Find the solution to the given IVP.</p>
    <me><%= ivp %></me>
  </statement>
  <answer>
    <me><%= ivp_sol %></me>
  </answer>
</exercise>
